<tr id="<%= id %>" class="fork" data-details="<%= fork.details.to_json.to_s %>"
    data-way="<%= fork.way.to_json.to_s %>">
    <td><%= id %></td>
    <td><%= fork %></td>
    <td class="<%= profit_color_class(fork.percentage_profit) %>">
        <%= number_to_percentage(fork.percentage_profit) %>
    </td>
    <td >
        <button type="button"
                onclick="Fork.show_details()"
                class="btn btn-link details">
            Details
        </button>

        <button type="button" aria-hidden="true" title="Refresh"
                data-details="<%= fork.details.to_json.to_s %>"
                onclick="Fork.refresh_fork()"
                class="btn btn-link fa fa-refresh">
        </button>
    </td>
</tr>